@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@media only screen and (min-width: 576px) {
  .nav-bottom {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .nav-bottom {
    position: fixed;
    min-height: 56px;
    bottom: 0;
    width: 100%;
    height: 3.3rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
  }

  .nav___link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none !important;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }

  .nav___link:hover {
    background-color: #eeeeee;
  }

  .nav___icon {
    font-size: 24px;
  }

  .router-link-exact-active {
    color: #4a4ae4;
  }

  @media only screen and (max-width: 41rem) {
    /* body {
      margin: 0 0 0 0;
    } */
  }
  @media only screen and (min-width: 41rem) {
    /* body {
      margin: 0 0 0 0;
    } */
  }
}